//SASS VARIABLES

$bg: aliceblue;
$font: sans-serif;
$obbi: oblique;
$left: 50px;
$pad: 10px;
$darkerblue: #064277;
$lighterblue: #58a0e0;

/* Quiz styles */

header {
    border: 2px solid $darkerblue;
    border-radius: 20px;
    margin: 10px auto;
    padding: $pad;
    background-color: $bg;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$font;
    font-size: 1em;
    font-style:$obbi;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid $darkerblue;
    border-radius: 20px;
    margin: 10px auto;
    padding: $pad;
    background-color: $bg;
}

#list{
    border: 2px solid $darkerblue;
    border-radius: 20px;
    background-color: $bg;
}

h2 {
    color: $darkerblue;
}

h3 {
    margin-left: $left;
    color:#58a0e0;
}

ul{
    margin-left: $left;
}

p{
    font-family: serif;
    font-style:normal;
}

.samplepara {
    border: 3px solid $lighterblue;
    border-radius: 5px;
    padding: $pad;
    background-color: white;
}

footer {
    border: 2px solid $darkerblue;
    border-radius: 20px;
    margin: 10px auto;
    padding: $pad;
    background-color: $bg;
    
    #footer {
        font-size: .75em;
        font-style:italic;
        font-weight: bold;
        color: $darkerblue;
        text-align: center;
    }
}

//#footer {
//    font-size: .75em;
//    font-style:italic;
//    font-weight: bold;
//    color: #064277;
//    text-align: center;
//}


